


<div class="container mt-1">

  {{!-- <h3
    style="
    display: flex;
    justify-content: center;
" --}}
  {{!-- >{{viewTitle}}</h3> --}}

  {{! <button><a href="/list">View Data</a></button> }}
  <form
    action="/"
    method="POST"
    autocomplete="off"
    onsubmit="alert('Form submitted succesfully')"
    id="form"
    class="mt-3"
  >
    {{!-- <input type="hidden" name="_id" value="{{employee._id}}" /> --}}
      <code id="result">live transcript here ...</code>
      {{!-- <button type="button" id="toggle">Toggle listening</button> --}}
    <fieldset style="margin-top: 7rem;">
      <div class="input_fields">
         <h3 class="mt-3">Personal Details</h3>
        <label>Name
          <input required type="text" name="name" />
        </label>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" name="email" placeholder="Email" />
          </div>
          <div class="form-group col-md-6">
            <label>Mobile No.</label>
            <input type="mobile" name="mobile" />
          </div>
        </div>
        <div class="form-row">
           <div class="form-group col-md-6">
            <label>Birth Date</label>
            <input type="text" name="birth-date" />
          </div>
          <div class="form-group col-md-6">
            <label>Gender</label>
            <input required type="text" name="gender"  />
          </div>
        </div>
        <label>Address
          <textarea name="address">
          </textarea>
        </label>
        <div class="form-row">
           <div class="form-group col-md-6">
            <label>City</label>
            <input required type="text" name="city" />
          </div>
          <div class="form-group col-md-6">
            <label>Pin Code</label>
            <input
            required
            type="pinCode"
            name="pincode"
            title="6 digit pin code "
          />
          </div>
        </div>
        <div class="form-row">
           <div class="form-group col-md-6">
            <label>State</label>
             <input required type="text" name="state" />
          </div>
          <div class="form-group col-md-6">
            <label>Country</label>
            <input required type="text" name="country" />
          </div>
        </div>
        <h3>Education Details</h3>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="12th-percentage">12th Percentage</label>
            <input type="number" name="twelthPercentage" />
          </div>
          <div class="form-group col-md-6">
            <label>MHT-CET Percentile</label>
            <input type="number" name="mht-cet-Percentile" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="branch-preferance-1">Branch preferance 1</label>
            <input type="text" name="branch-preferance-1" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="branch-preferance-1">Branch preferance 2</label>
            <input type="text" name="branch-preferance-2" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="branch-preferance-1">Branch preferance 3</label>
            <input type="text" name="branch-preferance-3" />
          </div>
        </div>

      </div>

      <button type="submit">Submit</button>
    </fieldset>

    {{! <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/list"><i class="fa fa-list-alt"></i> View All</a>
    </div> }}
  </form>

</div>