<div class="container mt-5">

<table class="table table-bordered table-hover">
  <tbody>
    <tr>
      <td class="col-2">@mdo</td>
      <td class="col-4">Otto</td>
    </tr>
    <tr>
      <td class="col-2">@mdo</td>
      <td class="col-4">Otto</td>
    </tr>
    <tr>
      <td class="col-2">@mdo</td>
      <td class="col-4">Otto</td>
    </tr>

  </tbody>
</table>
</div>  